h1 Listing followings

table
  thead
    tr
      th
      th
      th

  tbody
    - @followings.each do |following|
      tr
        td = link_to 'Show', following
        td = link_to 'Edit', edit_following_path(following)
        td = link_to 'Destroy', following, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Following', new_following_path
