td
  p
    '
    = author_by_id(@comment.user_id)
    ' :
    = @comment.comment
td
    = link_to 'Edit', edit_comment_path(@comment.id), remote: :true
    |---
    = link_to 'Delete', comment_url(@comment.id), method: :delete, remote: :true, data: { no_turbolink: true ,confirm: 'Are you certain you want to delete this?' }