= simple_form_for @comment, remote: true do |f|
    = f.error_notification

    .form-inputs
        = f.input :comment
        - if @post
            = f.input :post_id, :as => :hidden, :input_html => { :value => @post.id }

    .form-actions
        = f.button :submit
