$('#comments_list tbody').append("<tr></tr>");
$('#comments_list tbody tr:last-of-type').attr("id","<%= "tr_#{@comment.id}"  %>");
$('#comments_list tbody tr:last-of-type').append('<%= j render 'comments/comment'%>');




