<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<a class="btn btn-google-plus" href="/my_engine/users/auth/google_oauth2"><i class="fa fa-google-plus"></i> | Connect with Google Plus</a>
<a class="btn btn-twitter" href="/my_engine/users/auth/twitter"><i class="fa fa-twitter"></i> | Connect with Twitter</a>
<a class="btn btn-linkedin" href="/my_engine/users/auth/linkedin"><i class="fa fa-linkedin"></i> | Connect with LinkedIn</a>
<%- unless devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
    <%#= link_to "| Connect with Google Plus",user_omniauth_authorize_path(provider), class: 'btn btn-twitter' %>
    <%= link_to "Sign in with #{provider.to_s.titleize}",user_omniauth_authorize_path(provider) %>

  <% end -%>

<% end -%>