ruby:
  def column_id(id)
    {tag: 'td',id: "td_#{id}" }
  end

table.table
  -@authors.each do |a|
    tr
      td
        =link_to a.email.to_s, posts_user_path(a.id)
      *column_id(a.id)
        =link_to 'follow', follow_following_path(a.id), remote: :true
