.row
  #sidebar.col-md-3
    p
      ' Following:
      = @following
      '
      ' Followers:
      = @followers


  .col-md-8
    h1 Posts
    - if @following == 0
      p Follow users to see their posts in your feed
    -else
      = render template: 'posts/index'
