p
  'Posts by:
  = author_by_id(@author_id)

ruby:
  def div_id(id)
    {tag: 'div', id: "div#{id}"}
  end
*div_id(@author_id)
  = render partial: 'followings/following_link'

= render template: 'posts/index'