$("#modal-window").html("<%= j render template: 'post_attachments/edit.html.slim' %>");
//$("#modal-window").show();
//$("#modal-window").attr('class','modal.fade');
//alert('sasas');

$("#modal-window").on('hidden.bs.modal', function () {
    $("#modal-window").html('');
})