= image_tag @post_attachment.avatar
= simple_form_for(@post_attachment) do |f|
  = f.error_notification
  .form-inputs
    = f.label :avatar
    = f.file_field :avatar
  .form-actions
    = f.button :submit
