.col-md-6.centre.modal-content
  h1 Edit Post attachments

  = render 'form'

  /= link_to 'Show', @post_attachment
  /'|
  = link_to 'Delete', post_attachment_path(@post_attachment.id), method: :delete

