p#notice = notice

p
  strong Post:
  = @post_attachment.post_id
p
  strong Avatar:
  = @post_attachment.avatar

= link_to 'Edit Attachment', edit_post_attachment_path(@post_attachment),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}
'|
= link_to 'Back', post_attachments_path
