/= simple_form_for(@post) do |f|
/  = f.error_notification
/
/  .form-inputs
/    = f.input :title
/    = f.input :body
/      - @post.avatars.each do |avatar|
/        = image_tag avatar.url, class: 'img-responsive'
/        - #f.hidden_field(:avatars_cache)
/        = f.file_field(:avatar)
/    -# f.file_field :avatars, multiple: true
/
/  .form-actions
/    = f.button :submit

= simple_form_for(@post, :input_html  => { :multipart => true }) do |f|
  .form-inputs
    = f.input :title
    = f.input :body
    = f.file_field :avatar, :multiple => true, name: 'post_attachments[avatar][]'
  .actions
    = f.button :submit

  -@post.persisted?
    -@post.post_attachments.each do |avatar|
      = image_tag avatar.avatar_url
      /= link_to 'Edit Attachment', edit_post_attachment_path(avatar)
      = link_to 'Edit Attachment', edit_post_attachment_path(avatar),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}
