h1 Listing posts



.col-md-8.centre
  row#post_container

    - @posts.each do |p|
      .col-md-12#post_header
        p
          |
          h3
            span.glyphicon.glyphicon-bullhorn.glyphcss
            |
            = p.title
          p.tagline
            span#name_span
              |
              ="by "+author_by_id(p.user_id)+" at "
            |
            =p.created_at
      .col-md-12
        .row
          .post_div.col-md-12


            .col-md-10#post_body
              p#post_textarea
                =p.body
              - p.post_attachments.each do |avatar|
                = image_tag avatar.avatar_url,class: 'img-responsive'
                /= link_to 'Edit Attachment', edit_post_attachment_path(avatar)
                = link_to 'Edit Attachment', edit_post_attachment_path(avatar),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}
              p
                =link_to 'Show', p
                -if can? :update, p
                  |
                  = link_to 'Edit', edit_post_path(p)
                -if can? :destroy, p
                  |
                  = link_to 'Destroy', p, data: {:confirm => 'Are you sure?'}, :method => :delete






= link_to 'New Post', new_post_path



