p#notice = notice
table
  tr
    td
      p
        strong Title:
        = @post.title
  tr
    td
      p
        strong Body:
        = @post.body
      p
        strong Author:
        = @author

-@post_attachments.each do |p|
  = image_tag p.avatar_url
  = link_to 'Edit Attachment', edit_post_attachment_path(p)

ruby:
  def row_id(comment_id)
    {tag: 'tr', id: 'tr_'+ comment_id.to_s }
  end
#comments_div
  h2 Comments
  table#comments_list.table
    thead
    tbody
      - @comments.each do |c|
        *row_id(c.id)
          /* calling method row_id to insert IDs to each row(see line nmbr 16  starting with ruby:)
          td
            p
              '
              =author_by_id(c.user_id)
              ' :
              '
              = c.comment
          td
            = link_to 'Edit', edit_comment_path(c.id), remote: :true
            |---
            = link_to 'Delete', comment_url(c.id), method: :delete, remote: :true, data: { no_turbolink: true ,confirm: 'Are you certain you want to delete this?' }
'|


= link_to 'Edit Post', edit_post_path(@post)
'|
= link_to 'Back', posts_path
'|
= link_to 'Comment', new_comment_path(post_id: @post.id),  remote: :true , id: 'btnForm'
'|
= link_to '', "#div_comment", id: 'MyFancyLink'



#div_comment

javascript:
    $(document).ready(function () {
        //$("#MyFancyLink").fancybox();
    });
