@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-buttons";
@import "jquery.fancybox";
@import "jquery.fancybox-buttons";
@import "jquery.fancybox-thumbs";
@import "posts";

@font-face {
  font-family: "ssp-regular";
  src: url(/assets/ssp-regular-webfont.ttf) format("truetype");
}



body{font-family: "SSP-Regular"}

.centre {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
