// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_textarea{ width: 100%}

.post_div{
  background-color: #fafafa;
  border-radius: 7px;

  a,label{
    margin: 10px;
  }
  p{
    font-size: 20px;
  }

}

#post_header{
  float:left;
  h3{
    font-family: FontAwesome;
  }
  .glyphcss{
    margin:10px;
  }


}

#post_container{
  border-right: 1px solid #e2e2e2;
  float: left;
  margin: 0 0 24px;
  overflow: visible;
  position: relative;
  width: 80%;


}

#post_body{
  float:right;


}

.tagline {  color: #888; font-size: small; margin-left: 45px  }

#name_span{ color: black;}

img{
  display: block;
  height: auto;
  max-width: 100%;
}