<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>DeviseBasic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class='navbar navbar-default navbar-inverse'>
    <div class='navbar-text col-md-12'>
      <% if user_signed_in? %>
        <div class="navbar-collapse collapse col-md-8" id="navbar">
          <ul class="nav navbar-nav">
            <li><%= link_to 'My Wall', users_path%></li>
            <li> <%=  link_to 'Posts',posts_path %> </li>
            <li> <%=  link_to 'Auhors',authors_users_path %> </li>
          </ul>
        </div>
        <div class="col-md-4 pull-right">
            <p>
                <%= image_tag current_user.gravatar_url  %>
                Logged in as <strong><%= current_user.email %></strong>.
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </p>
        </div>


        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to 'Login', new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>

</nav>
<% if notice %>
    <p class='alert alert-success'><%= notice %></p>
<% end %>
<% if alert %>
    <p class='alert alert-danger'><%= alert %></p>
<% end %>

<div class='container-fluid'>


<%= yield %>
  <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modal-window" role="dialog"></div>

</div>
</body>
</html>
